
 .Fdiv {
		width: 250px;
    height: 180px;
    background-color: indigo;
    position: absolute;

    animation-name: Fdiv01;
    animation-duration: 3s;
    animation-delay: 0s;
    
		
	}
	
  @keyframes Fdiv01 {
    0%{
      left:0;
			opacity:0;
    
    }

    50%{
			transform:translateY(300px);
      border-radius: 50%;
			filter:blur(12px);
			opacity:1;
    }

    100%{
      left: 1100px;
      background-color: red;
      transform:translateX(100px);
			opacity:1;
    }
  }
  /*------------------- theSconDive-------*/
  .Secdiv {
    width: 250px;
    height: 180px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 1100px;

    animation-name: scondiv;
    animation-duration: 3s;
    animation-delay: 3s;
  }

  @keyframes scondiv {
    0%{ left:1100px; opacity: 0;}
    50%{transform: perspectiveY(300px); 
        background-color: royalblue; 
        border-radius: 50%;
      }
    100%{
      left: 0;
      background-color: green;
      opacity: 1;
    }
  }
 
   /*------------------- thefirstDive-----------------*/

		.thirdDiv {
      width: 250px;
      height: 180px;
      background-color: rgb(33, 175, 5);
      position: absolute;
      left: 0;
      margin-top: 200px;
      margin-left: 10px;
    

    animation-name: thirdShow;
    animation-duration: 3s;
    animation-delay: 6s;
    }

    @keyframes thirdShow {
      0%{
        left: 0;
        opacity: 0;
      }
      50%{
        transform: perspective(300px, 200px);
        border-radius: 50%;
        background-color: greenyellow;
        opacity: 1;
        
      }

      100%{
        left:1100px;
        color: rgb(95, 95, 99);
        transform: rotateY(360deg);
        opacity: 1;

      }
    }

  /*--------------- fourthDiv-----------*/
  .fourthdDiv {
    
      width: 250px;
      height: 180px;
      background-color: rgb(5, 16, 175);
      position: absolute;
      left: 1100px;
      margin-top: 200px;
      
      animation-name: DivFour;
      animation-duration: 3s;
      animation-delay: 9s;
    
  }

  @keyframes DivFour {
    0%{
      left: 0;
      opacity: 0;
    }
    50%{
      transform: translate(600px);
      border-radius: 50%;
      background-color: brown;
      opacity: 1;
    }

    100%{
      left: 1100px;
      background-color: blueviolet;
      transform: translate(1020px, 400px);
      transform: skewY(360deg);
      opacity: 1;
    }
  }
/*--------------- fivthDiv-----------*/
.fivthDiv {
      width: 250px;
      height: 180px;
      background-color: rgb(151, 151, 151);
      position: absolute;
      left: 0;
      margin-top:400px;
      margin-left: 10px;
      
      animation-name: fivShow;
      animation-duration: 3s;
      animation-delay: 12s;
}

@keyframes fivShow{
  0%{
    left:0;
    opacity: 0;
  }

  20%{
    transform: translate(400px, -250px);
    transform: skewX(360deg);
    transform: rotate(180ded);
    background-color: chartreuse;
    opacity: 1;
  }
  50%{
    border-radius: 50%;
    transform: translate(500px);
    background-color: black;
    opacity: 1;
  }

  100%{
    left: 1100px;
    background-color: rgb(255, 0, 0);
    transform: translateX(10px);
    transform: skew(60deg);
    opacity: 1;
  }
}

  
/*--------------- sixthDiv-----------*/
.SixDiv {
  width: 250px;
  height: 180px;
  background-color: rgb(253, 5, 5);
  position: absolute;
  left: 1100px;
  margin-top:600px;
  
  
  animation-name: sixShow;
  animation-duration: 3s;
  animation-delay: 15s;
}

@keyframes sixShow{
  10%{
    opacity: 0;
    transform:skewY(180deg) ;
    background-color: cornflowerblue;
    opacity: 1;

  }

  50%{
    border-radius: 50%;
    background-color: gray;
    
    opacity: 1;
  }
  100%{
    left:0;
    background-color: indigo;
    transform: translateX(1100px);
    transform: skewY(360deg);
    opacity: 1;
  }
}

/*------------------sevenDiv---------------*/


.SevenDiv {
  width: 250px;
  height: 180px;
  background-color: rgb(253, 5, 220);
  position: absolute;
  left: 1100px;
  margin-top:400px;
  
  
  
  animation-name: SevenShow;
  animation-duration: 3s;
  animation-delay: 18s;
}


@keyframes SevenShow{
  10%{
    opacity: 0;
    transform:skewY(180deg) ;
    background-color: rgb(143, 201, 7);
    opacity: 1;

  }

  50%{
    border-radius: 50%;
    background-color: rgb(255, 11, 11);
    
    opacity: 1;
  }
  100%{
    left:0;
    background-color: indigo;
    transform: translateX(1100px);
    transform: skewY(360deg);
    opacity: 1;
  }
}

/*------------------ div08------------*/

.eightDiv {
  width: 250px;
  height: 180px;
  background-color: rgb(7, 5, 122);
  position: absolute;
  left: 0;
  margin-top:600px;
  margin-left: 10px;
  
  
  animation-name: eightShow;
  animation-duration: 3s;
  animation-delay: 21s;
}


@keyframes eightShow{
  0%{
    left:0;
    opacity: 0;
  }

  20%{
    transform: translate(400px, -250px);
    transform: skewX(360deg);
    transform: rotate(180ded);
    background-color: chartreuse;
    opacity: 1;
  }
  50%{
    border-radius: 50%;
    transform: translate(500px);
    background-color: rgb(36, 138, 4);
    opacity: 1;
  }

  100%{
    left: 1100px;
    background-color: rgb(22, 9, 9);
    transform: translateX(10px);
    transform: skew(60deg);
    opacity: 1;
  }
}
